<a href="https://colab.research.google.com/github/Lukong123/WTM-GDG-Bambili-30-Days-of-Code-Datascience/blob/main/Day13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# maps
def square(number):
  return number ** 2
numbers = [1, 2, 3, 4, 5]
squared = map(square, numbers)
list(squared)

[1, 4, 9, 16, 25]

In [7]:
str_nums = ["4", "8", "6", "5", "3", "2", "8", "9", "2", "5"]
int_nums = map(int, str_nums)
int_nums
list(int_nums) # you need to use list to have int_nums

[4, 8, 6, 5, 3, 2, 8, 9, 2, 5]

In [9]:
words = ["Welcome", "to", "Real", "Python"]
list(map(len, words))

[7, 2, 4, 6]

In [11]:
# lambda
numbers = [1, 2, 3, 4, 5]
squared = map(lambda num: num **2, numbers)
list(squared)

[1, 4, 9, 16, 25]

In [13]:
# multiple iterable
first_it = [1, 2, 3]
second_it = [4, 5, 6, 7]
list(map(pow, first_it, second_it))

[1, 32, 729]

In [15]:
list(map(lambda x, y: x - y, [2, 4, 6], [1, 3, 5]))

[1, 1, 1]

In [17]:
# transforming iterables of strings
string_it = ["processing", "strings", "with", "map"]
list(map(str.capitalize, string_it))

['Processing', 'Strings', 'With', 'Map']

In [19]:
with_spaces = ["processing ", "  strings", "with   ", " map   "]
list(map(str.strip, with_spaces))

['processing', 'strings', 'with', 'map']

In [32]:
def rotate_chr(c):
    rot_by = 3
    c = c.lower()
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    if c not in alphabet:
        return c
    rotated_pos = ord(c) + rot_by
    if rotated_pos <= ord(alphabet[-1]):
        return chr(rotated_pos)
    return chr(rotated_pos - len(alphabet))

In [30]:
alphabet = "abcdefghijklmnopqrstuvwxyz"
ord(alphabet[-1])
print(chr(122))
print(ord("x"))
print(chr(97))

z
120
a

In [33]:
"".join(map(rotate_chr, "My secret message goes here."))

'pb vhfuhw phvvdjh jrhv khuh.'

In [34]:
# transforming iterables of numbers
def powers(x):
  return x ** 2, x ** 3
numbers = [1, 2, 3, 4]
list(map(powers, numbers))

[(1, 1), (4, 8), (9, 27), (16, 64)]

In [36]:
# string to float
list(map(float, ["12.3", "3.3", "-15.2"]))

[12.3, 3.3, -15.2]

In [38]:
# combining map with other functional tools
import math
def is_positive(num):
  return num >= 0
def sanitized_sqrt(numbers):
  cleaned_iter = map(math.sqrt, filter(is_positive, numbers))
  return list(cleaned_iter)

sanitized_sqrt([25, 9, 81, -16, 0])

[5.0, 3.0, 9.0, 0.0]

In [39]:
from itertools import starmap
list(starmap(pow, [(2, 7), (4, 3)]))

[128, 64]

In [41]:
# pythonic way
numbers = [1, 2, 3, 4, 5, 6]
[square(x) for x in numbers] # list comprehension

[1, 4, 9, 16, 25, 36]

In [43]:
# generator expression
def square(number):
  return number ** 2
numbers = [1, 2, 3, 4, 5, 6]
gen_exp = (square(x) for x in numbers)
print(gen_exp)
list(gen_exp)

<generator object <genexpr> at 0x7f6b0c0d50d0>

[1, 4, 9, 16, 25, 36]