<a href="https://colab.research.google.com/github/Lukong123/WTM-GDG-Bambili-30-Days-of-Code-Datascience/blob/main/Day10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# for loops
a = ['foo', 'bar', 'baz']
for i in a:
  print(i)

foo
bar
baz

In [4]:
# sting, list , tuple, set, dict are all iterable compared to int, float, buil-in-function
iter('foobar')
iter(['foo', 'bar', 'baz'])

In [8]:
# iter accessed by "next()"
a = ['foo', 'bar', 'baz']
itr1 = iter(a)
itr2 = iter(a)

In [9]:
print(next(itr1))
print(next(itr1))
print(next(itr1))
print(next(itr2))
print(next(itr2))
print(next(itr2))

foo
bar
baz
foo
bar
baz

Even when `itr1` is exhuasted `itr2` is still untouched.

In [11]:
# using iter to convert list to other valid iter forms
a = ['foo', 'bar', 'baz']
itr = iter(a)
list(itr)

['foo', 'bar', 'baz']

In [13]:
a = ['foo', 'bar', 'baz']
itr = iter(a)
tuple(itr)

('foo', 'bar', 'baz')

In [14]:
a = ['foo', 'bar', 'baz']
itr = iter(a)
set(itr)

{'bar', 'baz', 'foo'}

In [15]:
# iterating through a dictionary
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
  print(k)

foo
bar
baz

In [16]:
# accessing the values of a dictionary
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
  print(d[k])

1
2
3

In [17]:
# accessing the values of a dictionary
d = {'foo': 1, 'bar': 2, 'baz': 3}
for v in d.values():
  print(v)

1
2
3

In [19]:
# iterating through key and values simultaneously
for i, j in [(1, 2), (3, 4), (5, 6)]:
  print(i, j)

1 2
3 4
5 6

In [20]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k, v in d.items():
  print('k = ', k, ', v = ', v)

k =  foo , v =  1
k =  bar , v =  2
k =  baz , v =  3

In [21]:
# range function
x = range(5)
for n in x:
  print(n)

0
1
2
3
4

The range function does not include the last number it is inclusive.

In [22]:
# range(<begin>, <end>, <stride>)
list(range(5, 10, 1))

[5, 6, 7, 8, 9]

In [23]:
# range can contain the negative interger
list(range(-5, 5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [24]:
# Altering for loop behaviour >> break
for i in ['foo', 'bar', 'baz', 'qux']:
  if 'b' in i:
    break
  print(i)

foo

In [25]:
# Altering for loop behaviour >> continue
for i in ['foo', 'bar', 'baz', 'qux']:
  if 'b' in i:
    continue
  print(i)

foo
qux

In [27]:
# the else clause in for loop
for i in ['foo', 'bar', 'baz', 'qux']:
  print(i)
else:
  print('Done. ') # will execute because the for clause is exhausted

foo
bar
baz
qux
Done.

In [28]:
for i in ['foo', 'bar', 'baz', 'qux']:
  if i == 'bar':
    break
  print(i)
else:
  print('Done. ') # will not execute since for loop terminated by break

foo