<a href="https://colab.research.google.com/github/Lukong123/WTM-GDG-Bambili-30-Days-of-Code-Datascience/blob/main/Day15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# python input output
user_input = input()
user_input

foo bar baz

'foo bar baz'

In [4]:
name = input("What is your name? ")
name

What is your name? Anne

'Anne'

In [6]:
# input always return a string
number = input("Enter a number: ")
print(number + 100)

Enter a number: 20

TypeError: ignored

In [7]:
# if you want numeric type you need to convert the string to the appropraite type
number = int(input("Enter a number: "))
print(number + 100)

Enter a number: 20
120

In [9]:
# writting output to console
first_name = "Winston"
last_name = "Smith"
print("Name:", first_name, last_name)

Name: Winston Smith

In [10]:
# if an object is not a string, print converts it to a string representation
example_list = [1, 2, 3]
example_int = -12
example_dict = {"foo": 1, "bar": 2}
print(example_list, example_int, example_dict, len)

[1, 2, 3] -12 {'foo': 1, 'bar': 2} <built-in function len>

In [11]:
# seperating printed values with sep
print("foo", 42, "bar")
print("foo", 42, "bar", sep="/")
print("foo", 42, "bar", sep="...")
d = {"foo": 1, "bar": 2, "baz": 3}
for k, v in d.items():
  print(k, v, sep=" -> ")

foo 42 bar
foo/42/bar
foo...42...bar
foo -> 1
bar -> 2
baz -> 3

In [12]:
# squishing objects together without any space
print("foo", 42, "bar", sep="")

foo42bar

In [13]:
# using keyword end to end a string by a specified character
if True:
  print("foo", end="/")
  print(42, end="/")
  print("bar")

foo/42/bar

In [14]:
# printing numbers from a for loop in one line using end
for number in range(10):
  print(number, end=(" " if number < 9 else "\n"))

0 1 2 3 4 5 6 7 8 9

In [16]:
# formatted string
name = input("What is your name? ")
age = int(input("How old are you? "))
f"Hello, {name}. You are {age}."

What is your name? Anne
How old are you? 20

'Hello, Anne. You are 20.'

In [17]:
f"Hello, {name}. In 50 years, you'll be {age + 50}."

"Hello, Anne. In 50 years, you'll be 70."