<a href="https://colab.research.google.com/github/Lukong123/WTM-GDG-Bambili-30-Days-of-Code-Datascience/blob/main/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
answer = 1+1
print(answer)

2

In [ ]:
var1 = 2+2
print(var1)
# var1 data type is an interger

4

var1 is assigned the value of 2+2

In [ ]:
var2 = 3+2/5
print(var2)
# var2 data type is a float

3.4

var2 is assigned tge value 3+2/5

In [18]:
var3 = 4*16
print(var3)
# var3 data type is an interger

64

var3 is assigned the value 4 multiplied by 16

In [21]:
var4 = 4**6
print(var4)
# var4 data type is an interger

4096

var4 is assigned the value 4 raised to the power 6

In [23]:
var5 = 'Hello' + ' ' + 'world'
print(var5)
# var5 data type is a string

Hello world

var5 is assigned the value 'Hello' + ' ' + 'world'

In [26]:
var6 = 'Hello world' * 6
print(var6)
# var6 dat type is a string

Hello worldHello worldHello worldHello worldHello worldHello world

var6 is assigned the value 'Hellow world' multiplied by 6

In [27]:
var7 = 4%3
print(var7)
# data type of var7 is an interger

1

var7 is assigned the value 4 mod 3