<a href="https://colab.research.google.com/github/Lukong123/WTM-GDG-Bambili-30-Days-of-Code-Datascience/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
list1 = ["I", "present", "five", "strings", "floats", 1, 2, 3, 4, 5, 1.5, 2.5, 3.5, 4.5, 5.5]
print(list1)

['I', 'present', 'five', 'strings', 'floats', 1, 2, 3, 4, 5, 1.5, 2.5, 3.5, 4.5, 5.5]

In [7]:
var1 = 'Hello' + ' world'
list1.append(var1)
print(list1)

['I', 'present', 'five', 'strings', 'floats', 1, 2, 3, 4, 5, 1.5, 2.5, 3.5, 4.5, 5.5, 'Hello world', 'Hello world', 'Hello world', 'Hello world']

In [9]:
list4 = [5, 6, 7, 8, 9, 5.5, 6.5, 7.5, 8.5, 9.5, 9.9, "five", "intergers", "and", "floats"]
print(list4)

[5, 6, 7, 8, 9, 5.5, 6.5, 7.5, 8.5, 9.5, 9.9, 'five', 'intergers', 'and', 'floats']

In [10]:
list5 = list1 + list4
print(list5)

['I', 'present', 'five', 'strings', 'floats', 1, 2, 3, 4, 5, 1.5, 2.5, 3.5, 4.5, 5.5, 'Hello world', 'Hello world', 'Hello world', 'Hello world', 5, 6, 7, 8, 9, 5.5, 6.5, 7.5, 8.5, 9.5, 9.9, 'five', 'intergers', 'and', 'floats']

In [18]:
list2 = [5, 6, 7.0, "Eight", "Nine"]
print(list2)
list3 = [type(item) for item in list2 ]
print(list3)

[5, 6, 7.0, 'Eight', 'Nine']
[<class 'int'>, <class 'int'>, <class 'float'>, <class 'str'>, <class 'str'>]