<a href="https://colab.research.google.com/github/Lukong123/WTM-GDG-Bambili-30-Days-of-Code-Datascience/blob/main/Day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
x = set(['foo', 'bar', 'baz', 'foo', 'qux'])
print(x)

x = set(('foo', 'bar', 'baz', 'foo', 'qux'))
print(x)

{'bar', 'foo', 'qux', 'baz'}
{'bar', 'foo', 'qux', 'baz'}

In [7]:
# converting a text to a list
s = 'quux'
print(list(s))

# converting a list to a set
# the output proves that sets are unique and unordered
print(set(s))

['q', 'u', 'u', 'x']
{'u', 'x', 'q'}

In [ ]:
# sets can be defined in with curly braces too
x = {'foo', 'bar', 'baz', 'foo', 'qux'}

In [15]:
# There's a difference using the keyword set to define a set and using curly braces
c = print({'foo'})
s = print(set('foo'))

{'foo'}
{'o', 'f'}

In [24]:
# Defining an empty set
x = set()
print(type(x))
s = {}
print(type(s))

<class 'set'>
<class 'dict'>

If we define an empty set using curly praces as such `{}`it will not be considered as a set but as a dictionary

In [22]:
# An empty set is falsely a boolean context
x = set()
print(bool(x))
print(x or 1)
print(x and 1)

False
1
set()

In [25]:
x = {42, 'foo', (1, 2, 3), 3.14159}
print(x)

{42, 3.14159, 'foo', (1, 2, 3)}

Elements in a set must not be of thesame type and can contain a tuple since it is immutable

In [29]:
a = [1, 2, 3]
{a}
d = {'a': 1, 'b': 2}
print({d})

TypeError: ignored

list and dictionaries cannot be in a set since they are mutable.

In [32]:
# set size and membership
x = {'foo', 'bar', 'baz'}
print(len(x))
print('bar' in x)
print('qux' in x)

3
True
False

In [33]:
# set union
x1 = {'foo', 'bar', 'baz'}
x2 = {'baz', 'qux', 'quux'}
x1 | x2

{'bar', 'baz', 'foo', 'quux', 'qux'}

set union using the `|` operator

In [34]:
x1.union(x2)

{'bar', 'baz', 'foo', 'quux', 'qux'}

set union using the `union` method.

In [36]:
# set intersection
x1.intersection(x2)
x1 & x2

{'baz'}

set intersection using the `intersection` method and the `&` operator.

In [38]:
# difference
x1.difference(x2)
x1 - x2

{'bar', 'foo'}

set difference using the `difference` method and `-` operator.
It returns all the elements which are in x1 but not in x2

In [40]:
# symetric difference
x1.symmetric_difference(x2)
x1 ^ x2

{'bar', 'foo', 'quux', 'qux'}

The symetric difference for set can be done using the `symetric_difference` method or the `^` operator.
symetric difference returns elements either in x1 or x2 but not both.

In [41]:
# Disjoint
x1.isdisjoint(x2)

False

`isdisjoint` determines wether or not two elements have anything in common.
isdisjoint does not have any operator to prove it.

In [43]:
# subset
x1.issubset(x2)
x1 <= x2

False

`issubset` determines wether one set is subset of the other it has as operator `<=`.

In [44]:
# proper subset
x1 < x2

False

`<` determines if one set is the proper subset of the other

In [45]:
# super set
x1.issuperset(x2)
x1 >= x2

False

`issuperset` used to determine if a set is a super set of the other and it has as operator `>=`.

In [46]:
# proper superset
x1 > x2

False

`>` use to determine if a set is a proper superset of the other.

In [48]:
# Modifying set
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}
x1 |= x2 # it add the element of x2 to x1
x1

{'bar', 'baz', 'foo', 'qux'}

In [50]:
x1.update(['corge', 'garply']) # updates
x1

{'bar', 'baz', 'corge', 'foo', 'garply', 'qux'}

In [54]:
# intersection upadate
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}
x1 &= x2 
print(x1)
x1.intersection_update(['baz', 'qux'])
print(x1)

{'foo', 'baz'}
{'baz'}

`intersection_update` retains elements found in both x1 and x2 only having as operator `&=`

In [55]:
# difference update
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}
x1 -= x2
print(x1)
x1.difference_update(['foo', 'bar', 'qux'])
print(x1)

{'bar'}
set()

`difference_update` with operator `-=` updates x1 by removing elements in x2.

In [56]:
# symetric difference update
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}
x1 ^= x2
print(x1)
x1.symmetric_difference_update(['qux', 'corge'])
print(x1)

{'bar', 'qux'}
{'corge', 'bar'}

`symetric_difference` with operator `^=` update x1, retaining elements found in either x1 or x2, but not both:

In [57]:
# add
x = {'foo', 'bar', 'baz'}
x.add('qux')
x

{'bar', 'baz', 'foo', 'qux'}

In [58]:
# remove
x = {'foo', 'bar', 'baz'}
x.remove('baz')
x

{'bar', 'foo'}

In [59]:
# discard
x = {'foo', 'bar', 'baz'}
x.discard('baz') # discard is different from remove in the sense that if the elemet to remove is not present it won't raise an error.
x

{'bar', 'foo'}

In [60]:
# pop (removes random element)
x = {'foo', 'bar', 'baz'}
x.pop()
x

{'baz', 'foo'}

In [62]:
# clear
x = {'foo', 'bar', 'baz'}
x.clear()
x

set()

In [64]:
# Frozen set
x = frozenset(['foo', 'bar', 'baz'])
print(x)

print(x & {'baz', 'qux', 'quux'})

frozenset({'bar', 'foo', 'baz'})
frozenset({'baz'})

In [65]:
x.add('qux')

AttributeError: ignored

Frozen set does not allow modification

In [66]:
f = frozenset(['foo', 'bar', 'baz'])
s = {'baz', 'qux', 'quux'}
f &= s
f

frozenset({'baz'})

The above code works because the set is not been modified but reassigned. This can be verified by checking the id by using `id(f)`

In [67]:
x1 = set(['foo'])
x2 = set(['bar'])
x3 = set(['baz'])
x = {x1, x2, x3}

TypeError: ignored

In [68]:
x1 = frozenset(['foo'])
x2 = frozenset(['bar'])
x3 = frozenset(['baz'])
x = {x1, x2, x3} # works when the set elements are frozensets
x

{frozenset({'bar'}), frozenset({'baz'}), frozenset({'foo'})}

In [ ]:
x = frozenset({1, 2, 3})
y = frozenset({'a', 'b', 'c'})
d = {x: 'foo', y: 'bar'} # works for frozensets and not normal sets
d