In [1]:
# Defining a dictionary
MLB_team = dict([    
    ('Colorado', 'Rockies'),
    ('Boston', 'Red Sox'),
    ('Minnesota', 'Twins'),
    ('Milwaukee', 'Brewers'),
    ('Seattle', 'Mariners')])

# or you can definde a dictionary like this 
MLB_team = dict(
Colorado='Rockies',
Boston='Red Sox',
Minnesota='Twins',
Milwaukee='Brewers',
Seattle='Mariners'
)
 # or like this
MLB_team = {'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins',
'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}

In [2]:
# Accessing elements
MLB_team['Minnesota']

'Twins'

In [3]:
# adding new entries
MLB_team['Kansas City'] = 'Royals'

In [10]:
# updating an entry
MLB_team['Seattle'] = 'Sewhawks'

In [11]:
del MLB_team['Seattle']
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Kansas City': 'Royals'}

In [12]:
# dictionary key vs list indices
MLB_team[1]

KeyError: ignored

python list indices can't work on python dictionary

In [14]:
# building a dictionary incrementally
person = {}
type(person)

dict

In [17]:
person['fname'] = 'Joe'
person['lname'] = 'Fonebone'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}
person

{'fname': 'Joe',
 'lname': 'Fonebone',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [21]:
# Retrieving the values in the sublist or subdictionary requires an additional index or key
person["children"][-1] # 'Joey'
person['pets']['cat'] # 'Sox'

'Sox'

In [23]:
# keys in dictionary are not bound to be of thesame type
foo = {42: 'aaa', 2.78: 'bbb', True: 'ccc'}

In [26]:
# restriction on dictionary keys
d = {(1, 1): 'a', (1, 2): 'b', (2, 1): 'c', (2, 2): 'd'}
print(d[(1,1)]) # a tuple can be a key

a

dictionary keys though it accepts some varieties of keys, it has some rules.

*   A key must be unique
*   A key can even be built-in objects like types and functions
*   It can contain other immutable objects like keys

In [27]:
d = {[1, 1]: 'a', [1, 2]: 'b', [2, 1]: 'c', [2, 2]: 'd'}
d[[1, 1]]

TypeError: ignored

A list or dictionary cannot be a dictionary key

In [29]:
# Restiction on values
d = {0: 'a', 1: 'a', 2: 'a', 3: 'a'}
print(d)
d[0]==d[1]==d[2]

{0: 'a', 1: 'a', 2: 'a', 3: 'a'}

True

No restrictions on values!

In [31]:
# Operators and built in function
# usint the "in" and "not in" on dictionary
'Milwaukee' in MLB_team

True

In [33]:
'Toronto' not in MLB_team

True

In [34]:
# "in" operator together with short circuit evaluation to avoid raising error
'Toronto' in MLB_team and MLB_team['Toronto']

False

The last statement is not evaluated since it is false so no error raised

In [37]:
# len returns the number of key-value pairs
len(MLB_team)

5

In [41]:
# built in dicitoanary methods
d
d.clear() # deletes all the enteries of d
d

{}

In [44]:
# d.get(<key>[, <default>])
d = {'a': 10, 'b': 20, 'c': 30}
print(d.get('b'))
print(d.get('z'))

20
None

In [45]:
print(d.get('z', -1))

-1

If the key is not found and and the optional <default> argument is specified, that value is returned instead of None

In [51]:
# d.items() returns a list of key value pairs in a d
d = {'a': 10, 'b': 20, 'c': 30}
print(d)
print(list(d.items()))
print(list(d.items())[1][0])
print(list(d.items())[1][1])

{'a': 10, 'b': 20, 'c': 30}
[('a', 10), ('b', 20), ('c', 30)]
b
20

In [54]:
# d.keys() returns a list of keys in the d
list(d.keys())

['a', 'b', 'c']

In [56]:
# d.values() returns a list of values in d
# in case of a duplicate values all of it will be returned
list(d.values())

[10, 20, 30]

In [57]:
# d.pop(<key>[, <default>]) removes a key in a dictionary and returns its value
d = {'a': 10, 'b': 20, 'c': 30}
print(d)
print( d.pop('b'))
print(d)

{'a': 10, 'b': 20, 'c': 30}
20
{'a': 10, 'c': 30}

In [58]:
d = {'a': 10, 'b': 20, 'c': 30}
d.pop('z')

KeyError: ignored

In [60]:
d = {'a': 10, 'b': 20, 'c': 30}
d.pop('z', -1)

-1

d.pop(<key>) raises a KeyError exception if <key> is not in d
If <key> is not in d, and the optional <default> argument is specified, then that value is returned, and no exception is raised

In [61]:
# d.popitem() removes the last key-value pair added in d and return it as a tuple
d = {'a': 10, 'b': 20, 'c': 30}
print(d.popitem())
print(d)

('c', 30)
{'a': 10, 'b': 20}

If d is empty, d.popitem() raises a KeyError exception

In [64]:
# d.update(<obj>) Merges a dictionary with another dictionary or with an iterable of key-value pairs
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'b': 200, 'd': 400}
d1.update(d2)
d1

{'a': 10, 'b': 200, 'c': 30, 'd': 400}

In [66]:
# this equally works to update d1
d1.update([('b', 200), ('d', 400)])
d1.update(b=200, d=400)