<a href="https://colab.research.google.com/github/Lukong123/WTM-GDG-Bambili-30-Days-of-Code-Datascience/blob/main/Day8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
x = 0
y = 5
if x < y:
  print('yes')

yes

In [4]:
if y < x:
  print('yes')

In [13]:
if x:
  print('yes')

In [14]:
if y:
  print('yes')

yes

In [16]:
if 'aul' in 'grault':
  print('yes')

yes

In [17]:
if 'quux' in ['foo', 'bar', 'baz']:
  print('yes')

In [19]:
# Grouping statement
if 'foo' in ['foo', 'bar', 'baz']:
    print('Outer condition is true')

    if 10 > 20:
        print('Inner condition 1')

    print('Between inner conditions')

    if 10 < 20:
        print('Inner condition 2')

    print('End of outer condition')
print('After outer condition')

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

In [21]:
# else and elif
x = 20
if x < 50:
  print('(first suite)')
  print('x is small')
else:
  print('(second suite)')
  print('x is large')

(first suite)
x is small

In [25]:
# elif
name = 'Joe'
if name == 'Fred':
  print('Hello Fred')
elif name == 'Xander':
   print('Hello Xander')
elif name == 'Joe':
  print('Hello Joe')
elif name == 'Arnold':
  print('Hello Arnold')
else:
   print("I don't know who you are!")

Hello Joe

In [28]:
# one line if statement
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [32]:
# python's tenary operator
raining = True
print("Let's go to the", 'beach' if not raining else 'library')
age = 12
s = 'minor' if age < 21 else 'adult'
s

Let's go to the library

'minor'

The middle expression is evaluated first, and based on that result, one of the expressions on the ends is returned.

In [36]:
x = 40; y = 40
z = 1 + (x if x > y else y) + 2
z

43

In [37]:
# python pass
if True:
    pass

print('foo')

foo