<a href="https://colab.research.google.com/github/Lukong123/WTM-GDG-Bambili-30-Days-of-Code-Datascience/blob/main/Day9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# while loop
n = 5
while n > 0:
  n -= 1
  print(n)

4
3
2
1
0

In [5]:
a = ['foo', 'bar', 'baz']
while a:
  print(a.pop(-1))

baz
bar
foo

In [7]:
# break
n = 5
while n > 0:
  n -= 1
  if n==2:
    break
  print(n)
print('Loop ended.')

4
3
Loop ended.

In [8]:
# continue
n = 5
while n > 0:
  n -= 1
  if n==2:
    continue
  print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

In [11]:
# else clause
n = 5
while n > 0:
  n -= 1
  print(n)
else:
  print('Loop done.') # executed because the while loop was exhausted

4
3
2
1
0
Loop done.

In [12]:
n = 5
while n > 0:
  n -= 1
  print(n)
  if n==2:
    break
else:
  print('Loop done.') # not executed because loop terminated by break not exhasuted

4
3
2

In [18]:
# infinite loop
# while True:
#   print('foo')

In [22]:
# nested while loop
a = ['foo', 'bar']
while len(a):
  print(a.pop(0))
  b = ['baz', 'qux']
  while len(b):
    print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [23]:
# one-line while loop
n = 5
while n > 0: n -= 1; print(n)

4
3
2
1
0